/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PixelFont';
  src: url('/fonts/slkscrb.ttf') format('truetype');
}
body {
  font-family: 'PixelFont', sans-serif;
    cursor: url('/images/cursor.png'), auto;

}
button,
button:hover,
button:active {
  cursor: url('/images/clickCursor.png') 16 16, pointer;
}

input,
input:hover,
input:focus,
textarea,
textarea:hover,
textarea:focus {
  cursor: url('/images/text.png') 16 16, text;
}